* {
    box-sizing: border-box;
    font-family: 'Eater';
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

header {
    background-color: rgb(208, 239, 247);
    font-size: 2em;
    height: 4em;
    text-align: center;
    width: 100%;
}

header select {
    display: inline;
    margin: 0 auto;
    vertical-align: bottom;
}

main {
    background-color: rgb(233, 228, 224);
    padding: 3em auto;
}

.deck {
    overflow: hidden;
    text-align: center;
}

.animalCard {
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    float: left;
    height: 10em;
    margin: 1em;
    position: relative;
    text-align: center;
    width: 12em;
}

.animalCard img {
    height: 4em;
    width: auto;
}

.animalCard h2, p {
    background-color: rgb(243, 243, 243);
    border-radius: 2px;
    color: rgb(71, 71, 71);
}

.animalCard p {
    position: absolute;
    bottom: 0;
    width: 100%;
}
